html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Source Han Sans', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #f3f3f3, #ffffff);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px; /* Vertical scrollbar width */
  height: 10px; /* Horizontal scrollbar height */

  &-track {
    background: #f1f1f1; /* Track background color */
    border-radius: 10px;
  }

  &-thumb {
    background: #9e9e9e; /* Thumb background color */
    border-radius: 10px;
    border: 2px solid #f1f1f1; /* Thumb inner padding effect */

    &:hover {
      background: #555;
    }

    &:active {
      background: #555;
    }
  }
}
